.dishes {
  width: 20%;
  border-radius: 3px;
  position: relative;
  padding: 30px;
  min-height: 198px;
  background-image: url("/images/bg-top.png");
  background-size: 100%;
  background-repeat: no-repeat;

  &::before {
    content: 'Plats';
    display: block;
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Patrick Hand', cursive;
  }

  .dish {
    display: flex;
    align-items: center;
    font-family: 'Patrick Hand', cursive;
    justify-content: space-between;
    //background-color: #ecf0f1;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    transition-duration: 0.3s;

    &.active {
      background-color: #EAEFD3;
      outline: 2px solid #fff;
      color: #000;
    }

    &.done {
      background-color: #e77f67;
    }

    &.active.done {
      background-color: #f3a683;
    }

    .timer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 70px;

      .chrono {
        margin: 0 10px;
      }
    }
  }
}

.cooking-dishes {
  width: 100%;
  position: relative;
  padding: 30px;
  border-radius: 3px;
  background-color: #EAEFD3;
  display: flex;

  .dish{
    font-family: 'Sarabun', sans-serif;
    font-size: 25px;
    background-color: #FED99B;
    padding: 3px;
    border-radius: 3px;
    margin-right: 10px;
    width: 160px;

    .timer{
      display: inline-block;
      float: right;

      .chrono{
        font-size: 25px;
      }
      .icon{
        width: 30px;
      }
    }
  }

  &::before {
    content: 'Plats en cuisson';
    color: #FE654F;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    display: block;
    margin-top: -25px;
    font-size: 40px;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}