.ingredients {
  width: 20%;
  position: relative;
  padding: 30px;

  &::before {
    content: '~ Ingredients ~';
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
  }

  .ingredient {
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: orange;
    color: white;
    padding: 8px;
    margin: 5px;
    font-size: 11px;
    width: 60px;
    
    &.show {
      display: inline-flex;
    }

    &.active {
      background-color: #f7d794;
      outline: 2px solid #f5cd79;
    }

    &.done {
      background-color: #e77f67;
    }

    &.active.done {
      background-color: #f3a683;
    }

    .letter {
      font-size: 26px;
    }
  }
}