.ingredients {
  width: 20%;
  position: relative;
  padding: 30px;

  &::before {
    content: '~ Ingredients ~';
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
  }

  .ingredient {
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #fa983a;
    color: white;
    padding: 8px;
    margin: 5px;
    font-size: 11px;
    width: 60px;
    
    &.show {
      display: inline-flex;
    }

    &.validated {
      background-color: #78e08f;
    }

    .letter {
      font-size: 26px;
    }
  }
}