body {
  background-image: url("/images/bg.jpg");
  background-size: cover;
}

#root {
  .row {
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-family: Verdana, sans-serif;

    .top-section {
      text-align: center;

      h1{
		font-family: 'Coiny', cursive;
		font-size: 65px;
		color: #fed99b;
		margin: 0;
		text-shadow: 4px 6px 15px black;
        background-image: url("/images/logo.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 201px;
        width: 244px;
      }

      h4{
		font-family: 'Coiny', cursive;
		font-size: 35px;
		margin: 0;
		color: #000000;
      }
    }
  }
}